.courseCard {
  margin-top: 40px;
  margin-right: 20px;
  width: 400px;
  min-height: 447px;
  background: #ffffff;
  border: 1px solid #dfe0eb;
  border-radius: 8px;
  cursor: pointer;
}

.courseCard:hover {
  box-shadow: 0px 20px 20px rgba(50, 50, 71, 0.1),
    0px 32px 40px rgba(50, 50, 71, 0.1);
}

.courseCard__banner {
  position: relative;
  height: 200px;
  width: 400px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
  border-radius: 8px 8px 0px 0px;
  margin-bottom: 24px;
}

.courseCard__banner img {
  height: 200px;
  width: 400px;
  border-radius: 8px 8px 0px 0px;
}

.courseCard__live {
  width: 43px !important;
  height: 24px !important;
  border-radius: 3px !important;
  position: absolute;
  top: 17px;
  right: 16px;
  /* z-index: 15; */
}

.courseCard__date {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px 9px;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  background-color: #f49e62;
  border-radius: 4px;
}

.courseCard__categories {
  display: flex;
  margin-left: 20px;
}

.courseCard__category {
  font-weight: 600;
  font-size: 12px;
  line-height: 30px;
  color: #7a7a7a;
  margin-right: 15px;
}

.courseCard__info {
  padding: 0 20px 20px 20px;
}

.courseCard__title {
  margin-bottom: 20px;
  width: 360px;
  height: 60px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #333333;
}

.courseCard__authorInfo {
  display: flex;
  align-items: center;
  padding-bottom: 25px;
  border-bottom: 1px solid #dfe0eb;
  margin-bottom: 10px;
}

.courseCard__authorInfo img {
  margin-right: 15px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.courseCard__authorName {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #333333;
  margin-bottom: 3px;
}

.courseCard__authorPosition {
  font-size: 13px;
  line-height: 18px;
  color: #7a7a7a;
}

.courseCard__oldPrice {
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  text-decoration-line: line-through;
  color: #999999;
}

.courseCard__price {
  display: flex;
  align-items: center;
}

.courseCard__newPrice {
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  color: #4bbd97;
}

.courseCard__rating {
  margin-left: 16px;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  color: #e7711b;
}

.courseCard__rating img {
  width: 11px;
  height: 11px;
  margin-right: 4px;
}

.courseCard__rating span {
  margin-left: 3px;
  font-weight: 400;
  color: #999999;
}
