.container {
  background: linear-gradient(90deg, #0fa6ac 0%, #4bbd97 100%);
  padding-top: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.title {
  color: white;
  font-size: 30px;
  font-weight: 600;
  font-family: Open Sans;
  font-style: normal;
  line-height: 40px;
  color: #ffffff;
  padding-left: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
}
